.idea
*.sublime-project
*.sublime-workspace
*.pyc
*.pyo
.sass-cache
.vscode
.nyc_output

*~
*.orig
.DS_Store
._.DS_Store

dist-stats.json
npm-debug.log
typings/*
typings.json

coverage/*
dist/*
node_modules/*
junit/*
esdoc/*

yarn-error.log

public/*